{% extends "layouts/app.html" %}

{% block title %}Start page{% endblock %}

{% block content %}
{{ parent() }}

{% include 'shared/alerts.html' %}

<div class="container">
    <div class="col-md-8 order-md-1">
        <h1 class="mb-3">Admin login</h1>
        <div class="col-md-8 order-md-1">
            <form action="/login-execute" method="post">
                <div class="mb-3">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" name="username" class="form-control" id="username" required=""
                           placeholder="admin">
                </div>
                <div class="mb-3">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="123" required="">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Вход</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}