{% extends "layouts/app.html" %}
{% set title_page = 'Task add' %}
{% block title %}{{ title_page }}{% endblock %}

{% block content %}
{{ parent() }}

<div class="container">
        <h1>{{ title_page }}</h1>

        <div class="col-md-6 order-md-1 ">
            <form action="/create" method="POST" id="form-add-task">
                <div class="mb-3">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                        <div class="invalid-feedback">Your username is required.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email <span class="text-muted"></span></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="test@gmail.com" required>
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                </div>

                <div class="mb-3">
                    <label for="comment">Comments</label>
                    <textarea class="form-control" id="comment" name="comment" rows="4"></textarea>
                    <div class="invalid-feedback">Please enter task comment.</div>
                </div>

                <button id="preview" name="preview" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">Preview</button>
                <button class="btn btn-success" type="submit" id="submit_add_task" name="submit_add_task" value="Submit" >Add Task</button>
            </form>
        </div>
        {% include 'components/cards/preview.html' %}

</div>

{% endblock %}

{% block scripts %}
{{ parent() }}

<script src="/public/js/cards/preview.js"></script>

{% endblock %}