{% extends "layouts/app.html" %}
{% set title_page = 'Start page' %}
{% block title %}{{ title_page }}{% endblock %}

{% block content %}
{{ parent() }}

<h1 class="text-center mb-5">{{ title_page }}</h1>

<div class="container mb-5">

    <div class="row">

        <div class="col-lg-4">
            <h5 class="text-warning mt-3 mb-3">Asc:</h5>
            <div role="group" class="btn-group">
                {% for name in ['Username', 'Email', 'Status', 'Updated_At'] %}
                <a href="?sort={{ name|lower }}" class="btn btn-primary ml-1"><i class="fas fa-sort"></i>
                    {{ name }}
                </a>
                {% endfor %}
            </div>
            <h5 class="text-warning mt-3 mb-3">Desc:</h5>
            <div role="group" class="btn-group ">
                {% for name in ['Username', 'Email', 'Status', 'Updated_At'] %}
                <a href="?sort={{ name|lower }}&orderBy=desc" class="btn btn-dark btn-sm ml-1"><i class="fas fa-sort"></i>
                    {{ name }}
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-4">
            {{ tasks.page_links | raw }} <!--pagination--->
        </div>

    </div>
    <div class="row" id="tasks">
        {% for task in tasks.records %}
            {% include 'components/cards/default.html' %}
        {% endfor %}
    </div>
</div>

{% endblock %}
