body {
    overflow-x: hidden;
}

/*Sidebar*/
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

/*Sidebar end*/

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

/*Pagination start*/
.pagination {
    clear: both;
    padding: 0;
}
.pagination li {
    display:inline;
}
.pagination a, .pagination span.current, .pagination span.disabled {
    font-size: 1rem;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
    margin:2px;
}
.pagination a {
    border: 1px solid #D5D5D5;
    color: #666666;
}
.pagination a:hover, .pagination a:active {
    background:#efefef;
}
.pagination span.current {
    color: #ffffff;
    background-color: #687282;
    border: 1px solid #D5D5D5;
}

.pagination span.disabled {
    border: 1px solid #EEEEEE;
    color: #DDDDDD;
}
/*Pagination end*/

/*404 errors*/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
/*404 errors end*/

/*Bootstrap card*/
.card {
    min-height:250px;
}
/*End bootstrap card*/