<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-light">Index</a>
        <a href="/add" class="list-group-item list-group-item-action bg-light">Add</a>
        {% if not globals.is_auth_user %}
        <a href="/login" class="list-group-item list-group-item-action bg-light">Login</a>
        {% else %}
        <form action="/logout" method="post">
            <button class="list-group-item list-group-item-action bg-danger" name="logout" type="submit">Logout</button>
        </form>
        {% endif %}
    </div>
</div>
<!-- /#sidebar-wrapper -->