<div class="col-md-4 mt-4">
    <div class="card {{ className ?? '' }}">
        <div class="card-body">

            {% if globals.is_auth_user %}
            <a href="/task/edit?id={{ task.id }}" class="btn btn-warning btn-sm mb-3">Edit</a>
            {% endif %}

            {% if task.username is defined %}
            <h5 class="card-title mb-3">{{ task.username }} | {{ task.email }}</h5>
            {% endif %}
            {% if task.comment is defined %}
            <p class="card-text">{{ task.comment|length > 50 ? task.comment|slice(0, 50) ~ '... [too long]' :
                task.comment}}</p>
            {% endif %}
            <input type="hidden" value="{{ task.id }}">
        </div>
        <div class="card-footer">
            {% if task.status %}
            <span class="text-success">Confirmed</span>
            {% else %}
            <span class="text-danger">Unconfirmed</span>
            {% endif %}

            <span class="ml-5">{{ task.updated_at|date("m/d/Y") }}</span>
        </div>
    </div>
</div>