<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} </title>

    {% block styles %}
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/media.css"/>
    {% endblock %}

    {% endblock %}
</head>
<body class="bg-light">
<div class="d-flex" id="wrapper">

    {% include 'shared/sidebar.html' %}
    <div id="page-content-wrapper">
    {% include 'shared/navbar.html' %}

    <div class="container-fluid mt-5">
        {% block content %}{% endblock %}
      </div>
    </div>

    <div id="footer">
        {% block footer %} {% endblock %}
    </div>
</div>

{% block scripts %}
<!-- Scripts -->
<script src="/public/js/jquery-3.4.1.slim.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

<script src="/public/js/menu.js"></script>

{% endblock %}
</body>
</html>